.verify {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #fff;
}

.verify .spinner {
  width: 100px;
  height: 100px;
  border: 5px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}